<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yuTongChuangXinChuangYe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0110633216F15E10042F070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F011064B216F15E40042F070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0110656216F15E40042F070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
